
body {
    --header-height: 80px;
    
    font-family: 'Roboto Mono', monospace;
    height: 100%;
    margin: 0;
    background-color: var(--color2);
    background-image: url(../alex-chambers-CyMd0vOYFfU-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-bottom: dotted #949497;
    border-left: dotted #949497;
    border-right: dotted #949497;
    background-image: url(../cai-carney-deaqEVtdSgk-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.title {
    color: white;
    font-size: 50px;
    font-weight: 600;
}

.container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 70px;
    padding-bottom: 180px;
}

.rules-section {
    grid-column: 1 / span 2;
    color: white;
    text-align: center;
}

.quiz-section {
    grid-column: 1 / span 2;
    grid-row-start: 2;
}

.rules-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.intro-header {
    grid-column: 1 / span 4;
    grid-row-start: 1;
}

.introduction {
    grid-column: 1 / span 2;
    grid-row-start: 2;
    text-align: start;
    padding-left: 40px;
    justify-self: center;
}

.intro-header {
    text-align: center;
}

.rules-of-game {
    grid-column: 3 / span 2;
    grid-row-start: 2;
    justify-self: center;
}

.list {
    text-align: start;
    list-style-type: square;
    list-style-position: inside;
}

.quiz-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 25%;
    padding-left: 25%;
    color: white;
}

.hidden {
    display: none;
}

.win-grid {
    grid-column: 1 / span;
    grid-row-start: 1;
    justify-self: center;
}

.win-win {
    display: flex;
    flex-direction: column;
    padding-right: 25%;
    padding-left: 29%;
    color: white;
}

.lose-grid {
    grid-column: 1 / span;
    grid-row-start: 1;
    justify-self: center;
}

.lose-lose {
    display: flex;
    flex-direction: column;
    padding-right: 25%;
    padding-left: 29%;
    color: white;
}

.hidden-lost {
    display: none;
}

.hidden-winner {
    display: none;
}

input {
    width: 120px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    align-self: center;
    background-color: white;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}

input:focus {
    width: 100%;
    text-align: center;
}

.submit-button {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
    background-color: white;
    transition: 0.5s;
    padding: 12px 20px 12px 40px;
}

.submit-button:hover {
    font-size: 24px;
    font-weight: bolder;
    border: solid yellow;
}

.reset-button {
    grid-column: 1 / span 2;
    grid-row-start: 2;
    justify-self: center;
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-start;
    background-color: white;
    transition: 0.5s;
    padding: 12px 20px 12px 40px;
}

.reset-button:hover {
    font-size: 24px;
    font-weight: bolder;
    border: solid yellow;
}

.hide-all {
    display: none;
}

footer {
    color: white;
    text-align: end;
    height: 20px;
    border-top: dotted #949497;
    border-left: dotted #949497;
    border-right: dotted #949497;
}